@import "tailwindcss";

@theme {
  --font-cormorant: "Cormorant Garamond", serif;
  --font-dm-sans: "DM Sans", sans-serif;
  --font-jost: "Jost", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-poppins: "Poppins", sans-serif;
}