---


---

<header class="bg-[black] border-b-[1px] border-b-[grey] p-[20px] 
               relative 
               before:content-[''] before:absolute before:top-0 before:left-0 
               before:w-full before:h-[2px] 
               before:bg-gradient-to-r before:from-black before:via-yellow-300 before:to-black">
    <div class="flex flex-row justify-between">
        <div class="text-white flex">
            <div class="w-7 h-7 border-2 border-amber-400 rotate-45 flex items-center justify-center mr-[20px]
                        group-hover:bg-amber-400 transition-colors duration-200">
                <div class="w-2 h-2 bg-amber-400 group-hover:bg-stone-950 transition-colors duration-200" style="transform: rotate(-45deg);"></div>
            </div>
            <span class="mr-[5px]">Compendium</span>
            <span class="text-[grey]">/</span>
            <span class="text-[13px] text-[grey] pt-[4px] tracking-[2px] font-mono">UI KIT</span>
        </div>
        <div class="md:flex justify-center text-white gap-[2rem] uppercase font-mono hidden">
            <a href="/" class="">Buttons</a>
            <a href="">Cards</a>
            <a href="">Project</a>
            <a href="">Contact</a>
        </div>
    </div>
</header>