---

---

<section class="p-[20px] relative py-[65px]
               before:content-[''] before:absolute before:bottom-0 before:left-0 
               before:w-full before:h-[1px] 
               before:bg-gradient-to-r before:from-black before:via-gray-500 before:to-black">
    <div class="p-10">
        <h1 class="text-white text-[48px] md:text-[87px] font-playfair">Components</h1>
        <p class="text-[#A8A29E] font-mono">Four variants × three sizes. Accepts an optional href prop to render as an anchor tag, and supports disabled and fullWidth props.</p>
    </div>
</section>