---
import Button from "../components/Button.astro"

---

<section id="home" class="p-[20px] relative py-[65px]
               before:content-[''] before:absolute before:bottom-0 before:left-0 
               before:w-full before:h-[1px] 
               before:bg-gradient-to-r before:from-black before:via-gray-500 before:to-black">
    <div class="p-10">
        <h1 id="hero-title" class="text-white text-[43px] md:text-[87px] font-playfair">Components</h1>
        <p class="text-[#A8A29E] font-mono">A curated collection of reusable UI components built for modern web development.</p>
        <div id="hero-button" class="mt-[16px]">
            <Button
                variant="primary"
                size="lg"
                href="">
                Explore
            </Button>
        </div>
    </div>
</section>

<script>
import '../main.ts';
</script>